<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lost.administrator.md">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.MyAplication"
        android:allowBackup="true"
        android:icon="@drawable/image_ui"
        android:label="优衣尚"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".activity.HotelDetailActivity"></activity>
        <activity android:name=".activity.CollectionActivity" />
        <activity android:name=".fragment.CollectActivity" />
        <activity android:name=".activity.GoodDetailActivity" />
        <activity android:name=".activity.ClothingActivity" />
        <activity android:name=".activity.AddGoodActivity" />
        <activity android:name=".activity.AddStoreActivity" />
        <activity
            android:name=".activity.UserActivity"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".activity.FindActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".activity.AddPasswordActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".activity.MapActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".activity.OrderHistoryActivity"
            android:theme="@style/NoTitle" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MyPingJiaActivity" />
        <activity android:name=".activity.ShangjiaActivity" />
        <activity android:name=".activity.MySetingActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.SearchDetailActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DLHFC1xDdhKLux09Zn3sk9lbTxb4G2Gc" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remove">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>